{
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}